<launch>
    <node
        pkg="vehicle_chassis_n3"
        type="vehicle_chassis_n3_node"
        name="vehicle_chassis_n3_node"
        output="screen"
        cwd="node">
    </node>
        <param name="Kp" value="0.91" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.055" />
</launch>








